body {background-color: powderblue;}
h1   {color: brown;}
p    {color: red;}
button{color:yellow;background-color: red}
#c1{color:blue;background-color: purple}
#c2{color:red;background-color: purple}
#cr1{color:yellow;background-color: purple}
#cr2{color:green;background-color: purple}
#g1{color:black;background-color: purple}
#g2{color:white;background-color: purple}
#totalCredits{color:grey;}
