/*body {background-color: powderblue;}
h1   {color: brown;}
button{color:yellow;background-color: red}
#c1{color:blue;background-color: purple}
#c2{color:red;background-color: purple}
#cr1{color:yellow;background-color: purple}
#cr2{color:green;background-color: purple}
#g1{color:black;background-color: purple}
#g2{color:white;background-color: purple}
*/
html {
    background-image: url("https://cpg.kfupm.edu.sa/wp-content/uploads/2016/11/rotation5.jpg");

}
body {
    background: rgba(255, 255, 255, 0.85);
    margin: auto;
    text-align: center;
    overflow: auto;
    padding: 0px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 150px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;

    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}  
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
button:hover {
    background-color: #3e8e41
}
button:hover span {
    padding-right: 25px;
}
button:hover span:after {
    opacity: 1;
    right: 0;
}
div {
  width: fit-content;
  padding: 75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
  